<div class="container">
  <h1>Add your Observation</h1>

  <%= form_for(@observation) do |f| %>

  <%= f.label :presentation_id %>
  <%= f.text_field :presentation_id %><p/>

  <%= f.submit %>
  <% end %>
</div>
