<body class="index">
  <!-- Top menu -->
  <div class="show-menu">
    <a href="#" class="shadow-top-down">+</a>
  </div>
  <nav class="main-menu shadow-top-down">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#templatemo_home" class="scroll_effect">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/consultations">Consultations</a></li>
      <li><a href="/documentations">Documentation</a></li>
      <li><a href="/faculties">Faculty</a></li>
      <li><a href="/observations">Observations</a></li>
      <li><a href="/presentations">Presentations</a></li>
      <li><a href="/transitions">Transitions</a></li>
      <li><a href="#templatemo_download" class="scroll_effect">Sign In</a></li>
      <li><a href="#templatemo_contact" class="scroll_effect">About</a></li>
    </ul>
  </nav>

  <!-- Home -->
  <section id="templatemo_home">
    <div class="container">
      <div class="templatemo_home_inner_wapper">
        <h1 class="text-center"><i class="fa fa-anchor"></i> AHOY!</h1>
      </div>
      <div class="templatemo_home_inner_wapper">
        <h2 class="text-center">All Aboard Canvas</h2>
        <p class="text-center">
          Making an LMS transition more fun!
        </p>
      </div>
      <div class="templatemo_home_inner_wapper btn_wapper">
        <div class="col-sm-6">
          <a href="#templatemo_features" class="btn col-xs-12 scroll_effect shadow-top-down">
            <i class="fa fa-align-justify"></i> Features
          </a>
        </div>
        <div class="col-sm-6">
          <a href="#templatemo_download" class="btn col-xs-12 scroll_effect shadow-top-down">
            <i class="fa fa-download"></i> Log In
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Features -->
  <section id="templatemo_features">
    <div class="container-fluid">
      <header class="template_header">
        <h1 class="text-center"><span>...</span> Features <span>...</span></h1>
      </header>
      <div class="col-sm-12">
        <div class="col-sm-6 col-lg-3 feature-box">
          <div class="feature-box-inner">
            <div class="feature-box-icon">
              <i class="fa fa-music"></i>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 feature-box">
          <div class="feature-box-inner">
            <div class="feature-box-icon">
              <i class="fa fa-pagelines"></i>
            </div>
            <p>
              Quis nostrud exercitation ullamco laboris nisi ut aliquip. Duis aute irure dolor in reprehenderit in voluptate velit esse.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 feature-box">
          <div class="feature-box-inner">
            <div class="feature-box-icon">
              <i class="fa fa-ship"></i>
            </div>
            <p>
              Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 feature-box">
          <div class="feature-box-inner">
            <div class="feature-box-icon">
              <i class="fa fa-trophy"></i>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Log in -->
  <section id="templatemo_download">
    <div class="container">
      <div class="templatemo_download_text_wapper">
        <div class="row">
          <div class="col-sm-12">
            <header class="template_header">
              <h1 class="text-center"><span>...</span> Log In <span>...</span></h1>
            </header>

          </p>
        </div>
      </div>
      <form role="form" action="#" method="post">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" name="name" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
            <input type="Password" name="email" class="form-control" placeholder="Password">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6 col-xs-offset-6">
            <button type="submit" class="form-control">Sign Up</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12">
      &nbsp;
    </div>

  </section>
  <!-- Sign up -->
  <section id="templatemo_contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header class="template_header">
            <h1 class="text-center"><span>...</span> Sign Up <span>...</span></h1>
          </header>

        </p>
      </div>
    </div>
    <form role="form" action="#" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" name="name" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
          <input type="Password" name="email" class="form-control" placeholder="Password">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-6">
          <button type="submit" class="form-control">Sign Up</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills social">
          <li><a href="#" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="#" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
          <li><a href="#" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 footer-copyright">
          <p>Copyright &copy; 2016 <a href="#" target="_parent">Alina Nevins and Niels Gribskov</a></p>
        </div>
      </div>
    </div>
  </footer>
</body>
