/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require normalize
*= require skeleton
*= require jquery-ui
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body.welcome {
  @import "font-awesome";
  @import "templatemo_style";
}

th, td {
  padding-left: 15px;
}

#nav {
  margin: 25px 0px 0 20px;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 20px;
}

#nav ul li .dropdown {
  display: inline;
  margin: 0 0 0 0;
  margin-bottom: 20px;
}

#nav a {
  text-decoration: none;
  color: blue;
}

#nav a:hover {
  color: gray;
}

.backgroundstyle {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

body {
  height: 100%;
}

body.consultations {
  background: url("/images/hot-air-balloon.jpg");
  @extend .backgroundstyle;
}
body.dashboard {
  background: url("/images/blueprint.jpg");
  @extend .backgroundstyle;
}

body.documentations {
  background: url("/images/books.jpg");
  @extend .backgroundstyle;
}

body.transitions {
  background: url("/images/shenzhen-skyline.jpg");
  @extend .backgroundstyle;
}

body.workshops {
  background: url("/images/workshop.jpg");
  @extend .backgroundstyle;
}

body.presentations {
  background: url("/images/cliff.jpg");
  @extend .backgroundstyle;
}

body.observations {
  background: url("/images/girl-dog.jpg");
  @extend .backgroundstyle;
}

body.clients {
  background: url("/images/buildings-sky.jpg");
  @extend .backgroundstyle
}

body.users {
  background: url("/images/pug1.jpg");
  @extend .backgroundstyle
}

body.badges {
  background: url("/images/abstract1.png");
  @extend .backgroundstyle
}

body.registrations, body.sessions, body.passwords, body.unlocks, body.confirmations {
  background: url("/images/dock.jpg");
  @extend .backgroundstyle
}

.container {
  background-color: rgba(255,255,255,0.6);
  padding: 0 45px 20px 20px;
  overflow: auto;
}

#navBar {
  height: auto;
  overflow: visible !important;
}

.home_page {
  background-color: rgba(255,255,255,0.0) !important;
}

.float_left {
  float: left;
  margin: 10px 20px 10px 0;
}

.main-nav {
  color: #FFF !important;
  text-decoration: none;
  margin: -5px 0 10px -15px;
  padding: 0 10px 10px 10px;
}

.main-nav:hover {
  @extend .main-nav;
  text-decoration: none;
}

.menu-logo {
  color: #00326E;
  text-decoration: none !important;
}
.menu-logo:hover {
  color: #33C3F0;
}

.notice {
  @extend .alert;
  background-color: blue !important;
  color: white;
  @extend .pop;
}
.alert {
  background-color: #f44336; /* Red */
  color: white;
  @extend .pop;
}

.pop {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}
.cssanimations.csstransforms #close {
  display: none;
}

.users .row {
  margin-left: 20px;

}
.dash-row{
margin: auto;
text-align:center;
position:relative;
}
.dash-buttons {
  margin: auto;
  @import "skeleton";
  @extend .button;
  display: inline-block;
  height: 38px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

  margin-left: 10px;
  padding: 0 10px;

}
