/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require_tree .
 *= require_self
 */

body.welcome {
  @import "bootstrap";
  @import "font-awesome";
  @import "templatemo_style";
}

th, td {
  padding-left: 15px;
}

#nav {
	margin: 25px 0px 0 20px;
}

#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 20px;
}

#nav a {
	text-decoration: none;
  color: blue;
}

#nav a:hover {
	color: gray;
}

.backgroundstyle {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

body.consultations {
  background-image: url("/images/hot-air-balloon.jpg");
  @extend .backgroundstyle;
}

body.documentations {
  background-image: url("/images/books.jpg");
  @extend .backgroundstyle;
}

body.transitions {
  background-image: url("/images/shenzhen-skyline.jpg");
  @extend .backgroundstyle;
}

body.workshops {
  background-image: url("/images/workshop.jpg");
  @extend .backgroundstyle;
}

body.presentations {
  background-image: url("/images/cliff.jpg");
  @extend .backgroundstyle;
}

body.observations {
  background-image: url("/images/girl-dog.jpg");
  @extend .backgroundstyle;
}

body.faculties {
  background-image: url("/images/buildings-sky.jpg");
  @extend .backgroundstyle
}

body.users {
  background-image: url("/images/pug1.jpg");
  @extend .backgroundstyle
}

body.badges {
  background-image: url("/images/abstract1.png");
  @extend .backgroundstyle
}

.container {
  background-color: rgba(255,255,255,0.6);
  padding: 0 45px 20px 20px;
}

.home_page {
  background-color: rgba(255,255,255,0.0) !important;
}

.text-area {

}
