// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome #navBar {
  display: none;
}

.user-login {
  color: black !important;

.home {
  overflow: visible !important;
}

body.welcome form {
  margin-bottom: 60px;
}
}
